body {
  margin:0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Courier New', Courier, monospace
}
.XO {
  width: 8vw;
  margin: 2vh;
}
.XOgame {
 width: 85%;
}
#header {
  flex: 1 2 10vh;
  background-color: #b7d8eb;
  display: flex;
  min-height: 0;
}
#header div:nth-child(odd){
  flex: 1 1 20vw;
  display: flex;
  justify-content: center;
  align-self: center;
}
#title {
  display: flex;
  flex: 1 2 60vw;
}
#title h1 {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  flex: 1 1;
  padding-top: 15px;
  margin: 0;
}
#endGame {
  background-color: #b7d8eb;
  flex: 1 1 80vh;
  display: none;
  flex-direction: column;
  align-items: center;
}
#endGame h1 {
  text-align: center;
}
#endGame button {
  text-align: center;
  width: 20vw;
}
#main {
  flex: 1 2 80vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #b7d8eb;
  grid-template-columns: minmax(100px, 11vw) minmax(100px, 11vw) minmax(100px, 11vw);
  grid-gap: 3vh;
  padding: 2vh;
}
#main div {
  background-color: #2588c2;
  border-radius: 15%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#startGameDiv {
  background-color: #b7d8eb;
  flex: 1 1 80vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#startGame {
  display: flex;
  gap: 10vw;
}
#startGame div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: 5px;
  border: 3px solid #2588c2;
}
button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #d8e7f0;
  border-radius: 10px;
  border-style: 2px outset #2588c2;
}
button:hover {
  border: 2px inset #2588c2;
}
#footer {
  flex: 1 2 10vh;
  display: flex;
  align-items: center;
  background-color: #cee4f1;
}
#github {
  width: 10vh; 
}
#github:hover {
  box-shadow: 1px 1px 5px black;
}